name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"
  pull_request:
    branches:
      - main

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-lint:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff
          pip install -e .
      - name: Ruff lint
        run: |
          ruff check --output-format=github .
      - name: Ruff format
        run: |
          ruff format --check .

  test-unit:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Test py312
            os: ubuntu-latest
            pyversion: "3.12"
          - name: Test py313
            os: ubuntu-latest
            pyversion: "3.13"
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.pyversion }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.pyversion }}
      - name: Install llvmpipe and lavapipe for offscreen canvas
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update -y -qq
          sudo apt install -y libegl1-mesa-dev libgl1-mesa-dri libxcb-xfixes0-dev mesa-vulkan-drivers
      - name: Install package and dev dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[tests]
      - name: Check imports
        run: |
          python -c "import real_spike; print(real_spike.__version__)"
      # - name: Unit tests
      #   run: |
      #     pytest -v tests
